# --- C++ ---
# Compiled Object files
*.o
*.obj
*.so
*.dylib
*.dll

# Compiled Binaries
cpp_engine/build/
cpp_engine/engine
*.exe

# --- Python ---
# Virtual Environments
venv/
env/
__pycache__/
*.py[cod]

# Distribution / Packaging
dist/
build/
*.egg-info/

# --- Angular / Node ---
# Dependencies (The big one!)
node_modules/

# Angular Build Output
web_dashboard/*
!web_dashboard/src
!web_dashboard/src/*

# Logs and System Files
*.log
.DS_Store